<div class="container">
  <div class="container-child">
    <h2 style="padding: 0.5em;">Dashboard</h2>
    <div class="buttons">
      <button mat-fab color="primary" [routerLink]="['/to-do-list-form']">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="items">
  <div *ngFor="let list of taskLists">
    <div class="example-container">
      <h3>{{list.name}}</h3>
      <button mat-raised-button routerLink="/to-do-detail/{{list.id}}">Details</button>
    </div>
  </div>
</div>