.container {
    text-align: center;
    align-items: center;
}
.container h1 {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    background: #673ab7;
    padding: 10px;
}

.container-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-child h2 {
    font-size: xx-large;
    width: 7em;
    text-align: center;
    margin-top: 2em;
}

.buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.buttons-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.items {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
}

.example-container {
    width: 10rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #8f65d8;
}

.example-container h3 {
    color: white;
}