<div class="center">
    <form #createToDoList="ngForm" (ngSubmit)="onSubmit()" class="task-form">
        <h1>Create ToDo List</h1>
        <mat-form-field class="input-container" appearance="fill">
            <mat-label>Name of List</mat-label>
            <input matInput name="list-name" [(ngModel)]="toDoList.name" required>
        </mat-form-field>

        <br>

        <button mat-flat-button color="primary" (click)="openTempDialog()" type="button">Add Task
            <!-- <mat-icon>add</mat-icon> -->
        </button>
        <br>
        <div class="items">
            <div *ngFor="let task of taskList">
                <div class="example-container">
                    <h3>{{task.title}}</h3>  
                    <button mat-raised-button (click)="deleteTask(task)">Delete</button>
                </div>
            </div>
        </div>
        <br>
        <button mat-flat-button color="accent" type="submit" [disabled]="!createToDoList.form.valid"> <span
                *ngIf="!loading">Create</span>
            <mat-spinner color="accent" *ngIf="loading" [diameter]="30"></mat-spinner>
        </button>
    </form>
</div>


<ng-template #dialogRef let-mydata class="dialog">
    <div class="center">
        <form #createTaskForm="ngForm" class="task-form">
            <h1>Create New Task</h1>
            <mat-form-field class="input-container" appearance="fill">
                <mat-label>Name of Task</mat-label>
                <input matInput name="task-name" [(ngModel)]="task.title">
            </mat-form-field>

            <mat-form-field class="input-container" appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput name="task-description" rows="4" cols="50" [(ngModel)]="task.description"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill" class="input-container">
                <mat-label>Choose your Deadline</mat-label>
                <input matInput [matDatepicker]="picker" name="task-deadline" [(ngModel)]="task.deadlineDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field> <br>
            <mat-form-field class="input-container" appearance="fill">
                <mat-label>Deadline Time</mat-label>
                <input matInput name="task-name" [(ngModel)]="task.deadlineTime" type="time" required>
            </mat-form-field>

            <br>
            <button mat-flat-button color="primary" type="button" [disabled]="!createTaskForm.form.valid"
                (click)="addTask(task)" mat-dialog-close>Add</button>
        </form>
    </div>
</ng-template>